body
{
	background: #cfcfcf;
}

a:hover
{
	text-decoration: none;
}

.navbar-header img
{
	height: 45px;
	margin: 3px;
}

h1
{
	letter-spacing: 1pt;
	font-weight: 100;
	font-size: 28px;
	margin: 0px 0px 15px 0px;
}

.list-group a
{

	text-transform: capitalize;
}

.item
{
	background: #fff;
	height: 255px;
	margin: 0px 0px 20px 0px;

}


.item figure 
{
	height: 150px;
	overflow: hidden;
	text-align: center;
	background: #fff;

}

.item:hover
{
	background: #337ab7;
	opacity: 0.7;
}

.item figure img
{
	
}

.item h2
{
	font-size: 16px;
		font-family: sans-serif,Arial; 
	background: #efefef;
	padding: 10px 10px 0px 10px;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 100;   
    white-space: nowrap;

}
.item h3
{
	font-size: 15px;

	background: #efefef;
	padding: 0px 10px 10px 10px;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;   
    white-space: nowrap;
    color:#000;
	font-weight: 100;
	letter-spacing: 1pt;

}
.item .logo
{
	position: relative;
	float: left;
	height: 50px;
	padding: 5px;

}

.fichaInmobiliaria .logo
{
	width: 100%;

}


.precio
{
	background: #fff;
	text-align: right;
	color: #088A29;
	padding: 10px;
	font-size: 20px;

}
.fichaAsesor
{
	background: #eee;
	margin: 5px;
	padding: 0px 10px 10px 10px;
	border-radius: 5px;
}
.fichaAsesor .foto
{
	width: 100%;
	border-radius: 5px;
}


.jumbotron
{
	text-align: center; 
}
