body
{
	background: #cfcfcf;
}

a:hover
{
	text-decoration: none;
}

.navbar-header img
{
	height: 45px;
	margin: 3px;
}

h1
{
	font-family: sans-serif,Arial; 
	font-weight: 300;
	font-size: 28px;
	margin: 0px 0px 15px 0px;
}

.list-group a
{

	text-transform: capitalize;
}

.item
{
	background: #fff;
	height: 265px;
	margin: 0px 0px 20px 0px;

}

.item figure 
{
	height: 150px;
	overflow: hidden;
	text-align: center;
	background: #fff;

}

.item:hover
{
	background: #337ab7;
	opacity: 0.7;
}

.item figure img
{
	
}

.item h2
{
	font-size: 16px;
	background: #efefef;
	padding: 10px;
	margin: 0px;
	height: 60px;
	overflow: hidden;

}

.item p
{
	background: #fff;
	text-align: right;
	color: #088A29;
	padding: 10px;
	font-size: 20px;

}



.jumbotron
{
	text-align: center; 
}
