@charset "utf-8";
*
{
	font-family:Helvetica, Arial;
	font-size:16px;

    /* Firefox */
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

 
 
    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

 
 
    /* Default */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;

	}
h1 {
	padding: 10px;
	margin: 0px;
	background-color: #CCCCCC;
	background-image: url(img/mondoBoton.png);
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #0066CC;
}

.resultado
{
	width:100%;
	padding: 0px;
	margin: 0px;
	background-color: #F9F9F9;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.resultado h2
{
background:#FFFFFF;
margin:0px;
padding:13px;
height:17px;
overflow:hidden;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.resultado p
{
height:50px;
overflow:hidden;
margin:10px;
}
.resultado .img
{
	overflow:hidden;
	height:200px;
}
.resultado div {
	font-size: 24px;
	font-weight: bold;
	color: #000099;
}

.resultado a
{
	font-size:14px;
	padding:12px;
	background:#F0F0F0;
	border: thin solid #731811;
	-moz-box-shadow:3px 3px 5px #000;
	-webkit-box-shadow:3px 3px 5px #000;
	box-shadow:3px 3px 5px #000;
	
}

body
{
	margin:0px;
	padding:0px;
}
.menu
{

	background-image: url(img/separador2.png);
	width: auto;
	margin: 5px;
	padding: 10px 10px 10px 35px;
	border: thin solid #D6D6D6;
	border-radius: 5px 5px 5px 5px;
	background-position: left center;
	text-decoration:none;
}
.menu:hover 
{
font-size:18px;
	display: inline;
	background-image: url(img/separador.png);
	width: auto;
	margin: 5px;
	padding: 15px 15px 15px 35px;
}
.boton
{
	background-image: url(img/separador2.png);
	width: auto;
	margin: 5px;
	padding: 10px 10px 10px 35px;
	border: thin solid #828790;
	border-radius: 5px 5px 5px 5px;
	background-position: left center;
	text-decoration:none;
	color:#000000;
}

.boton:hover
{
	background-image: url(img/separador.png);
	-moz-box-shadow: 0px 0px 10px #63a2ff;
	-webkit-box-shadow: 0px 0px 10px #63a2ff;
	box-shadow: 0px 0px 10px #63a2ff;
}
.boton:visited
{
	background-image: url(img/separador3.png);
	-moz-box-shadow: 0px 0px 17px #63a2ff;
	-webkit-box-shadow: 0px 0px 17px #63a2ff;
	box-shadow: 0px 0px 17px #63a2ff;
}


.boton:active
{
	background-image: url(img/separador3.png);
	-moz-box-shadow: 0px 0px 17px #63a2ff;
	-webkit-box-shadow: 0px 0px 17px #63a2ff;
	box-shadow: 0px 0px 17px #63a2ff;
}

.botonLateral
{
	background-image: url(img/separador2.png);

	margin: 5px;
	padding: 5px 30px 5px 30px;
	border: thin solid #828790;
	border-radius: 5px 5px 5px 5px;
	background-position: left center;
	text-decoration:none;
	color:#000000;
}

.botonLateral:hover
{
	background-image: url(img/separador.png);
	-moz-box-shadow: 0px 0px 10px #63a2ff;
	-webkit-box-shadow: 0px 0px 10px #63a2ff;
	box-shadow: 0px 0px 10px #63a2ff;
}
.botonLateral:active
{
	background-image: url(img/separador3.png);
	-moz-box-shadow: 0px 0px 17px #63a2ff;
	-webkit-box-shadow: 0px 0px 17px #63a2ff;
	box-shadow: 0px 0px 17px #63a2ff;
}

#cuerpo
{
	width: 90%;
	margin:auto;
	padding: 0px;
	border: thin solid #D6D6D6;
	border-radius: 5px 5px 5px 5px;
	background-color: #F7F7F7;
}
#contenido {


	margin: auto;
	padding: 10px;

}
#herramientas {
	background-color: #F7F7F7;

}
#cuerpo table {
	background-color: #FFFFFF;
}
.tabla1 th{
background:#CCCCCC;

}
.tabla1 tr{
background:#EEEEEE;
}
.tabla1 tr:hover{
background:#ffffff;
}
.Estilo2 {font-size: 12px}


.bloque
{
	margin:10px;
	text-align:center;
	background-color: #F9F9F9;
	height: 30px;
	width:20%;
	min-width:200px;
	display:inline-block;
}
.bloque2
{
	text-align:center;
	background-color: #F9F9F9;
	width:45%;
	min-width:350px;
	display:inline-block;
}
#guardar {
	background-color: #DDE4EE;
	height: 25px;
	text-align: center;
}
#noticias {
	background-color: #F8F8F8;
	-moz-column-count: 3;
-moz-column-gap: 10px;
-webkit-column-count: 3;
-webkit-column-gap: 10px;
column-count: 3;
column-gap: 10px;
}
#barraCongelada {
	position: fixed;
	background-color:#FFFFFF;
}
.cuadro2 
{
	height:500px;
	overflow-y:scroll;
}