<?php

class FacebookTestCredentials {

  /**
   * These must be filled out with valid Facebook app details for the tests to
   * run.
   */
  public static $appId = '641142412631740';
  public static $appSecret = '2d658aa89976d12f58bbc82b69edf242';

}

